.footer{
    position: absolute;
    width: 1520px;
    height: 732px;
    left: 0px;
    top: 1754px;

    background: #0B0B0B;
}
/*ul{
    height: 20vh;
    width: 100vw;
    margin-left: 20px;
    text-align: left;
}
li{
    margin: -4rem;
} */

.shareka{

    position: absolute;
    width: 156 px;
    height: 72px;
    right: 120px;
    top: 117px;

    font-family: 'Aileron';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    color: #fffffe;
    
}
.abhi{
    position: absolute;
width: 156px;
height: 72px;
right: 120px;
top: 229px;

font-family: 'Aileron';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 24px;
text-align: right;

color: #FEFCF0;

}

.hail{
    position: absolute;
width: 319px;
height: 218px;
left: calc(40% - 319px/2 - 0.5px);
top: calc(50% - 218px/2 - 15px);

font-family: 'Aka-AcidGR-Compacta';
font-style: normal;
font-weight: 400;
font-size: 120px;
line-height: 98px;
/* or 81% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FEFCF0;

text-shadow: 0px 14px 40px rgba(0, 0, 0, 0.2);
}

.inqueries{
    position: absolute;
width: 394px;
height: 24px;
right: 120px;
bottom: 56px;

font-family: 'Aileron';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

}