*{
    margin-top: 0;
}

a{
    text-decoration: none;
}

.NavigationBar .active{
    font-family: 'Star Guard Semi-Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    background-image: url(../images/Back.png);
    background-repeat: no-repeat;
    /* identical to box height, or 205% */
    background-size: 4rem;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}
header{
    width: 100%;
    height: 12vh;
    background-color: bisque;
    display: grid;
    grid-template-columns: 2rem 1fr 3fr 1fr 2rem;

    color: #1A1A1A;
    font-family: 'Aileron';
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 24px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
}
header div{
    display: grid;
    height: 12vh;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}
nav{
    height: 12vh;
    grid-column: 3/4;
}
.NavigationBar ul{
    height: 12vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: fit-content;
}
.NavigationBar a{
    text-decoration: none;
    color: black;
    /* height: 12vh; */
    /* background-color: aqua; */
    padding-top: auto;
}
.image{
    display: grid;
    grid-column: 4/5;
    align-items: center;
    justify-content: center;
}
img{
    height: 6vh;
    width: 12vw;
}

.NavigationBar a{
    height: 12vh;
    margin-top:8vh;
}
